# ==============================================================================
# Node.js / Next.js (Apps: web)
# ==============================================================================
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/

# Next.js cache
.vercel/
.next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==============================================================================
# Python / Flask (Apps: api)
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class

# Variáveis Virtuais e Ambientes
venv/
venv_new/
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# SQLite Databases
*.sqlite3
*.db

# ==============================================================================
# Geral / Sistema
# ==============================================================================
.DS_Store
Thumbs.db

# Arquivos temporários e Zips desnecessários
*.zip
*.tar.gz
*.rar
